$blue: #3602ff;
$green: #00b823;
$background-gray: #eef0f4;
$border-gray: #d2d2d9;
$font-gray: #7a7a7a;
$font-gray--dark: #555;
$avatar-width: 50px;
$filter-card-padding: 10px;
$max-width: 1080px;

body {
	font-family: 'Open Sans', sans-serif;
	color: $font-gray--dark;
}

h1, h2, h3, h4, h5 {
	color: #222;
	font-weight: 300;
	box-sizing: border-box;
}
h1 {
	font-size: 42px;
}

h2 {
	font-size: 32px;
	line-height: 38px;
}
h3 {
	font-size: 18px;
	font-weight: 600;
}
h4 {
	font-size: 16px;
	font-weight: 600;
}
h5 {
	font-size: 14px;
}
p {
	color: #7a7a7a;
	font-size: 16px;
	line-height: 24px;
}
.button {
	border: 1px solid $border-gray;
	border-radius: 3px;
	padding: 10px 12px;
	background-color: #fff;
	line-height: 16px;
	letter-spacing: 0.5px;
	font-size: 14px;

}
.green {
	color: $green;
}
.button--search {
	@extend .button;
	height: 36px;
	border: 2px solid $background-gray;
	font-weight: 100;
	color: #7e757e;
}
.tag--green {
	@extend .caps;
	background-color: $green;
	color: #fff;
	font-size: 10px;
	padding: 4px;
}

// Columns
.Column {
	display: inline-block;
	vertical-align: top;
}
.Column--left {
	@extend .Column;
	margin-right: 15px;
}
.Column--left .Section {
	margin-right: 0;
}
.Column--right {
	@extend .Column;
}
.View--home .Column--left {
	width: 32%;
}
.View--home .Column--right {
	width: 68%;
}
.View--store .Column--left {
	width: 27%;
}
.View--store .Column--right {
	width: 72%;
}

.Page {
	margin: 10px auto 100px;
	padding: 0 30px;
}
.Header {
	display: flex;
	justify-content: space-between;
}
.Header__left {
	display: inline-flex;
}
.Header__right{
	display: inline-flex;
	align-items: center;
	color: $blue;
	font-size: 13px;
	letter-spacing: 0.5px;
	font-weight: 400;
	> a:first-child() {
		margin-right: 15px;
	}
}
.Header__logo {
	margin-right: 26px;
	> .ob-logo {
		width: 40px;
		display: inline-block;
	}
	> .ob-icons {
		display: inline-flex;
		flex-direction: column;
		vertical-align: top;
		> h3 {
			line-height: 24px;
			letter-spacing: 0.5px;
			font-weight: 300;
		}
		> div {
			> img {
				width:50px;
			}
		}
	}
}
.Header__search {
	display: inline-flex;
	align-self: center;
	> input {
		height: 36px;
		width: 312px;
		border: 2px solid $background-gray;
		border-radius: 3px;
		padding: 10px 12px;
		font-weight: 100;
		letter-spacing: 0.5px;
		font-size: 14px;
		margin-right: 6px;
	}
}
.Store {
	border: 1px solid $border-gray;
	background-color: #eef0f4;
}
.StoreNav {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 2px 0 0;
	height: 50px;
}
.StoreNav__left {
	display: inline-flex;
	margin-left: 34px;
}
.StoreNav__right {
	display: inline-flex;
	align-items: center;
	color: $font-gray;
	font-size: 15px;
	font-weight: 400;
	margin-right: 130px;
	> ul {
		list-style-type: none;
		display: flex;
		align-items: center;
		height: 100%;
		margin-bottom: 2px;
		> li {
			height: 100%;
			margin-right: 25px;
			&:last-child() {
				margin-right: 0;
			}
			&.active, &:hover {
				color: #252525;
				border-bottom: 2px solid #252525;
				margin-bottom: -2px;
			}
			> a {
				padding: 0 12px;
				display: inline-flex;
				align-items: center;
				height: 100%;
				> span.green {
					margin-left: 5px;
				}
			}
		}
	}
}
.StoreInfo {
	margin-right: 26px;
	> .Avatar {
		display: inline-block;
		margin-right: 8px;
		width: 45px;
	}
	> .StoreSummary {
		display: inline-flex;
		flex-direction: column;
		vertical-align: top;
		> h3 {
			font-weight: 300;
			font-size: 20px;
			line-height: 24px;
			letter-spacing: 0.5px;
		}
		> div {
			color: #757575;
			font-weight: 100;
			line-height: 18px;
			font-size: 14px;
		}
	}
}
.StoreLocation, .StoreRatings {
	display: inline-block;
	> img {
		display: inline-block;
		height: 14px;
	}
	> a {
		text-decoration: underline;
	}
}
.StoreLocation {
	margin-right: 10px;
}
.Avatar {
	display: inline-block;
	width: 50px;
	border-radius: 50%;
	padding: 2px;
	box-shadow: 0px 1px 1px 0px #dadada;
}
.Store__header {
	background-image: url('../images/example--cat00.jpg');
	padding-bottom: 32%;
	background-size: cover;
	background-position: center center;
	display: flex;
	position: relative;
	> h1 {
		max-width: $max-width;
		position: absolute;
		bottom: 30px;
		left: 0;
		right: 0;
		margin: auto;
		padding: 0 30px;
	}
}
.Store__body {
	margin: 20px auto;
	max-width: $max-width;
	padding: 0 30px;
}

.Section {
	padding: 20px 20px 40px 20px;
	background-color: #fff;
	border: 1px solid $border-gray;
	color: $font-gray--dark;
	margin-bottom: 10px;
	> h2 {
		margin-bottom: 8px;
	}
	> h3 {

	}
}
.Section--store-information {
	@extend .Section;
	margin-top: 10px;
	padding: 10px 10px 20px 10px;
	> ul {
		margin-top: 10px;
		list-style-type: none;
		> li {
			> p {
				color: $font-gray;
				font-size: 13px;
				line-height: 16px;
				overflow: hidden;
				text-overflow: ellipsis;
				&.obid {
					&:hover {
						overflow: visible;
						background-color: #fff;
						border: 1px solid $border-gray;
						z-index: 10;
					}
				}
				> img {
					display: inline-block;
					margin: 0 0 1px 3px;
					vertical-align: bottom;
					width: 11px;
				}
			}
			> h5 {
				margin-top: 20px;
				line-height: 16px;
			}
			&:first-child(){
				> h5 {
					margin-top: 0;
				}
			}
		}
	}
}
.FilterCard {
	padding: 10px;
	background-color: #fff;
	margin-bottom: 10px;
	border: 1px solid $border-gray;
	width: 100%;
	font-size: 14px;
	> ul {
		list-style-type: none;
		li {
			> input[type='radio'] {
				margin-right: 5px;
				margin-bottom: -2px;
				vertical-align: text-bottom;
				zoom: 1.5;
			}
		}
	}
}
.FilterCard--shipping { 
	@extend .FilterCard;
	input[type='checkbox'] {
		margin-right: 5px;
		vertical-align: text-bottom;
		margin-bottom: -2px;
		zoom: 1.5;
	}
	label[for='filter--listings--ships-to'] {
		margin-right: 5px;
	}
	select[name='filter--listings--ships-to'] {
		height: 30px;
		background-color: #fff;
		width: 65%;
	}
}
.FilterCard--category { @extend .FilterCard; }
.FilterCard--rating { 
	@extend .FilterCard; 
	> ul > li {
		input[type='radio'] {
			margin-right: 0;
		}
		> img {
			display: inline-block;
			width: 18px;
			vertical-align: text-bottom;
			&:last-child() {
				margin-right: 5px;
			}
		}
	}
}
.SearchListings {
	margin-bottom: 15px;
	> input[type='text'] {
		height: 38px;
		box-sizing: border-box;
		width: calc(100% - 60px);
		border: 1px solid $border-gray;
		padding: 10px 10px 10px 35px;
		font-weight: 100;
		letter-spacing: .5px;
	}
	> button {
		@extend .button;
		width: 50px;
		height: 38px;
	}
	&:before {
		content: "";
		width: 30px;
		height: 30px;
		background: url("../images/icon--search.png") no-repeat center center;
		display: block;
		position: absolute;
		margin: 3px;
	}
}
.ListingsHeading {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.ListingsHeading__left {
	color: #222;
}
.ListingsHeading__right {
	> form {
		> select {
			height: 30px;
			background-color: #fff;
		}
	}
}
.CardContainer {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.Card {
	width: 32%;
	margin-bottom: 15px;
	position: relative;
}

// Store Cards
.StoreCard {
	position: relative;
	border: 1px solid $border-gray;
}
.StoreCard__header {
	width: 100%;
	padding-bottom: 33%;
	position: relative;
	background-size: cover;
	background-position: center center;
	> .Avatar {
		position: absolute;
		bottom: 5px;
		left: 10px;
	}
}
.StoreCard__body {
	background-color: #fff;
	padding: 10px;
	> p {
		color: #7a7a7a;
		line-height: 18px;
		font-size: 13px;
		margin-bottom: 10px;
	}
}
.StoreCard__name {
	font-size: 18px;
	font-weight: 600;
	color: #222;
}
.StoreCard__handle {
	color: #7a7a7a;
	line-height: 18px;
	font-size: 13px;
}
.StoreCard__bottom {
	display: flex;
	justify-content: space-between;
	color: $font-gray--dark;
}
.StoreCard__location, .StoreCard__ratings {
	font-size: 14px;
	> img {
		display: inline-block;
		height: 14px;
		vertical-align: middle;
		margin-bottom: 5px;
	}
}
.StoreCard__ratings > a {
	text-decoration: underline;
}
// End Store Cards

// Listing Cards
.ListingCard__header {
	width: 100%;
	cursor: pointer;
	position: relative;
	padding-bottom: 100%;
}
.ListingCard__header__bg {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	background-size: cover;
	background-position: center center;
}
.ListingCard__header__nsfw {
	display: flex;
	align-items: center;
	width: 100%;
	top: 0;
	bottom: 0;
	position: absolute;
	top: 0;
	opacity: 0;
	pointer-events: none;
	background-color: #fff;
	transition: opacity 300ms ease-in;
	> div {
		width: 100%;
		display: flex;
		flex-direction: column; 
		align-items: center;
		> img {
			margin-bottom: 10px;
		}
		> button {
			font-weight: 600;
			margin: 0 10px
		}
	}

}
.ListingCard__header__tags {
	list-style-type: none;
	display: flex;
	flex-direction: row-reverse;
	position: absolute;
	top: 5px;
	right: 10px;
	line-height: 20px;
}
.ListingCard__body {
	background-color: #fff;
	padding: 0 10px 10px;
	color: #222;
}
.ListingCard__bottom {
	display: flex;
	justify-content: space-between;
	line-height: 14px;
}
.ListingCard__ratings {
	color: $font-gray--dark;
	> img {
		display: inline-block;
		width: 15px;
		vertical-align: text-bottom;
		margin-bottom: 1px;
	}
	> a {
		text-decoration: underline;
		cursor: pointer;
	}
}
.ListingCard__price {
	text-align: right;
	color: #222;
}
.ListingCard.nsfw > .ListingCard__header {
	cursor: auto;
	pointer-events: none;
	> .ListingCard__header__bg {
		opacity: 0;
		pointer-events: none;
	}
	> .ListingCard__header__nsfw {
		opacity: 1;
		pointer-events: auto;
	}
}
//End Listing Cards
