$blue: #3602ff;
$green: #00b823;
$background-gray: #eef0f4;
$border-gray: #d2d2d9;
$font-gray: #7a7a7a;
$font-gray--dark: #555;
$avatar-width: 50px;

h1, h2, h3, h4 {
	color: #444;
	font-weight: 300;
}
h1 {
	font-size: 42px;
}

h2 {
	font-size: 32px;
	line-height: 38px;
}
h3 {
	font-size: 18px;
}

.Page {
	max-width: 1240px;
	margin: 32px auto 100px;
	padding: 6px 20px 20px;
	border: 1px solid #efefef;
}
.Header {
	display: flex;
	justify-content: space-between;
}
.Header__left {
	display: inline-flex;
}
.Header__right{
	display: inline-flex;
	align-items: center;
	color: $blue;
	font-size: 13px;
	letter-spacing: 0.5px;
	font-weight: 400;
	> a:first-child() {
		margin-right: 15px;
	}
}
.Header__logo {
	margin-right: 26px;
	> .ob-logo {
		width: 40px;
		display: inline-block;
	}
	> .ob-icons {
		display: inline-flex;
		flex-direction: column;
		vertical-align: top;
		> h3 {
			line-height: 24px;
			letter-spacing: 0.5px;
		}
		> div {
			> img {
				width:50px;
			}
		}
	}
}
.Header__search {
	display: inline-flex;
	align-self: center;
	> input {
		height: 36px;
		width: 312px;
		border: 2px solid $background-gray;
		border-radius: 3px;
		padding: 10px 12px;
		font-weight: 100;
		letter-spacing: 0.5px;
		font-size: 14px;
		margin-right: 6px;
	}
}
.searchButton {
	height: 36px;
	border: 2px solid $background-gray;
	border-radius: 3px;
	padding: 10px 12px;
	font-weight: 100;
	letter-spacing: 0.5px;
	font-size: 14px;
	line-height: 14px;
	background-color: #fff;
	color: #7e757e;
}
.Store {
	border: 1px solid $border-gray;
	background-color: #eef0f4;
}
.StoreNav {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 2px 0 0;
	height: 50px;
}
.StoreNav__left {
	display: inline-flex;
	margin-left: 34px;
}
.StoreNav__right {
	display: inline-flex;
	align-items: center;
	color: $font-gray;
	font-size: 15px;
    font-weight: 400;
	margin-right: 130px;
	> ul {
		list-style-type: none;
		display: flex;
		align-items: center;
		height: 100%;
		> li {
			height: 100%;
			margin-right: 25px;
			&:last-child() {
				margin-right: 0;
			}
			&.active {
				color: #252525;
				border-bottom: 2px solid #252525;
			}
			> a {
				padding: 0 12px;
				display: inline-flex;
				align-items: center;
				height: 100%;
				> span.green {
					margin-left: 5px;
				}
			}
		}
	}
}
.StoreInfo {
	margin-right: 26px;
	> .Avatar {
		display: inline-block;
		margin-right: 8px;
	}
	> .StoreSummary {
		display: inline-flex;
		flex-direction: column;
		vertical-align: top;
		> h3 {
			font-weight: 300;
			font-size: 20px;
			line-height: 24px;
			letter-spacing: 0.5px;
		}
		> div {
			color: #757575;
			font-weight: 100;
			line-height: 18px;
			font-size: 14px;
		}
	}
}
.StoreLocation, .StoreRatings {
	display: inline-block;
	> img {
		display: inline-block;
		height: 14px;
	}
	> a {
		text-decoration: underline;
	}
}
.StoreLocation {
	margin-right: 10px;
}
.Avatar {
	display: inline-block;
    width: 50px;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0px 1px 1px 0px #dadada;
}
.green {
	color: $green;
}
.Store__header {
	background-image: url('../images/example--cat00.jpg');
	height: 380px;
	background-size: cover;
	background-position: center center;
	display: flex;
	align-items: flex-end;
	padding: 42px 110px;
}
.Store__body {
	padding: 20px 120px 20px 110px;;
}
.Column {
	display: inline-block;
	vertical-align: top;
}
.Column--left {
	@extend .Column;
	width: 32%;
}
.Column--right {
	@extend .Column;
	margin-left: 2%;
	width: 65%;
}

// Store Cards
.StoreCard {
	position: relative;
	border: 1px solid $border-gray;
	min-width: 250px;
}
.StoreCard__header {
	height: 100px;
	width: 100%;
	position: relative;
	background-size: cover;
	background-position: center center;
	> .Avatar {
		position: absolute;
		bottom: 5px;
		left: 10px;
	}
}
.StoreCard__body {
	background-color: #fff;
	padding: 10px;
	> p {
		color: #7a7a7a;
		line-height: 18px;
		font-size: 13px;
		margin-bottom: 10px;
	}
}
.StoreCard__name {
	font-size: 18px;
	font-weight: 600;
}
.StoreCard__handle {
	color: #7a7a7a;
	line-height: 18px;
	font-size: 13px;
}
.StoreCard__bottom {
	display: flex;
	justify-content: space-between;
	color: $font-gray--dark;
}
.StoreCard__location, .StoreCard__ratings {
	font-size: 14px;
	> img {
		display: inline-block;
		height: 14px;
		vertical-align: middle;
		margin-bottom: 5px;
	}
}
.StoreCard__ratings > a {
	text-decoration: underline;
}
// End Store Cards

.Section {
	padding: 20px 20px 40px 20px;
	background-color: #fff;
	color: $font-gray--dark;
	margin-bottom: 10px;
	> h2 {
		margin-bottom: 8px;
	}
	> p {
		color: $font-gray;
		font-size: 16px;
		line-height: 24px;
	}
}
